@media (max-width:790px) {
    .navigation {
        display: none;
    }
    .burger-bar {
        display: block;}
   .block1{
    display: flex;
    flex-direction: column;
    height: auto;
     }
   .line1{
   justify-content: center;
        }
	
    .conteiner1{
        height: auto;

    }
    .right-conteiner{
        margin-top: 100px;
    }    
}
